:root{
    --color_letra : #333;
    --tipo_letra : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --tam_letra : 16px;
}


body {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-size: var(--tam_letra);
}

#cabecera{
    background: rgb(70, 70, 235);
    color: white;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 20px 0px rgba(0, 0,0,0.5);
    font-weight: bold;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid whitesmoke;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#post{
    padding: 1em;
}